[Unit]
Description=Insights Proxy
Requires=podman.socket

[Container]
ContainerName=insights-proxy
Image=quay.io/abellott/insights-proxy:latest
PublishPort=3128:3128
ExposeHostPort=3128
EnvironmentFile=%h/.config/insights-proxy/env/insights-proxy.env
EnvironmentFile=%h/.config/insights-proxy/env/insights-proxy-servers.env
Volume=%h/.local/share/insights-proxy/certs:/opt/app-root/certs:z

[Service]
ExecStartPre=/bin/sh -c 'echo INSIGHTS_PROXY_SERVER_NAMES=$(cat %h/.config/insights-proxy/env/insights-proxy.servers | egrep -v "^#|^$|^[ \t]*$" | tr "\n" " ") > %h/.config/insights-proxy/env/insights-proxy-servers.env'
Restart=always
TimeoutStartSec=600

[Install]
WantedBy=default.target
